@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf");
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  background-color: #d9d9d9;
  font-family: "Poppins", sans-serif !important;
  color: #000000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.child {
  animation: FadeIn 0.3s ease-in-out;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2c3e50;
}

::-webkit-scrollbar-thumb {
  background: #747677;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #34495e;
}
