<div class="parent">
  <div class="child">
    <h1>COMPONENTS</h1>
    <div>
      <a href="./login">LoginComponent</a>
      <a href="./login/reset-password">ResetPasswordComponent</a>
      <a href="./login/forgot-password">ForgotPasswordComponent</a>
      <a href="./login/verify">VerificationComponent</a>
      <a href="./loading">LoadingComponent</a>
      <a href="./register">RegisterComponent</a>
      <br>
      @if (this.session) {
      <a (click)="clearCookies()" style="color:red; cursor: pointer;">clearCookies</a>
      }
    </div>
  </div>
</div>
