<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <div class="verifyparent">
    <div class="verifybox">
      <div class="brandname"><h1>Nombre</h1></div>
      <div class="verify">
        <mat-form-field>
          <h2>Verifica tu correo</h2>
          <input type="código" placeholder="Código de 6 digitos">
        </mat-form-field>
        <div class="buttons">
          <button mat-flat-button>Volver a enviar</button>
          <button mat-flat-button>Enviar</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
