<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <div class="verifyparent">
    <div class="verifybox">
      <div class="brandname"><h1>Título</h1></div>
      <div class="verify">
        <h2>Verifica tu correo</h2>
        <mat-card appearance="outlined">
          <mat-card-content>Introduce el codigo</mat-card-content>
        </mat-card>
      </div>
      <div class="buttons">
        <button mat-flat-button>Enviar</button>
        <button mat-flat-button>Volver a enviar</button>
      </div>
    </div>
  </div>
</body>
</html>
