<title>Register</title>
@if (!loading) {
  @if (this.info) {
    <div class="parent">
      <div class="info child">
        <p>{{ this.info }}</p>
      </div>
    </div>
  } @else {
    <div class="parent">
      <div class="child">
        <h2>Regístrate</h2>
        @if (this.error) {
          <div class="error">
            <p>{{ this.error }}</p>
          </div>
        }
        <form (submit)="register()">
          <div class="register input-group">
            <input
              type="text"
              placeholder="Usuario"
              [(ngModel)]="username"
              name="username"
              required
            />
          </div>
          <div class="register input-group">
            <input
              type="text"
              placeholder="Correo Electrónico"
              [(ngModel)]="email"
              name="email"
              required
            />
          </div>
          <div class="register input-group">
            <input
              type="password"
              placeholder="Contraseña"
              [(ngModel)]="password"
              name="password"
              required
            />
          </div>
          <div class="register input-group">
            <input
              type="password"
              placeholder="Confirma la contraseña"
              [(ngModel)]="passwordconfirm"
              name="passwordconfirm"
              required
            />
          </div>
          <button type="submit">Registrarse</button>
        </form>
        <div class="bottomlinks">
          <a href="./login">Iniciar Sesión</a>
        </div>
      </div>
    </div>
  }
} @else {
  <app-loading></app-loading>
}
