<div class="parent">
    <div class="child">
        <h2>Registrarse</h2>
        <form (submit)="register()">
            <div class="input-group">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Nombre" required>
            </div>
            <div class="input-group">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Correo" required>
            </div>
            <div class="input-group">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Contraseña" required />
            </div>
            <div class="input-group">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Confirmar Contraseña" required />
            </div>
            <button onclick="window.location.href='./login/verify';">Registrarse</button>
        </form>
    </div>
</div>
