#container-fotos {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    gap: 1px;
}

.foto {
    flex: 1;
    height: 100%;
    background-color: lightgray;
    transition: background-color 0.3s, transform 0.3s;
}

/* Cambia el color de fondo del div hover */
.foto:hover {
    background-color: blue;
}
