<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="loginparent">
      <div class="loginbox">
        <div class="brandname"><h1>Login</h1></div>
        <div class="login">
          <mat-form-field>
            <h2>Introduce tu correo</h2>
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Password">
          </mat-form-field>
          <div class="button">
            <button mat-flat-button>Siguiente</button>
          </div>
        </div>
      </div>
    </div>
  </body>
  </html>
