<title>Login</title>
@if (!this.loading) {
  @if (this.info) {
    <div class="parent">
      <div class="info child">
        <p>{{ this.info }}</p>
      </div>
    </div>
  } @else {
    <div class="parent">
      <div class="child">
        <h2>Iniciar Sesión</h2>
        @if (this.error) {
          <div class="error">
            <p>{{ this.error }}</p>
          </div>
        }
        <form (submit)="login()">
          <div class="input-group">
            <i class="fas fa-user"></i>
            <input
              type="text"
              placeholder="Correo Electronico"
              [(ngModel)]="email"
              name="email"
              required
            />
          </div>
          <div class="input-group">
            <i class="fas fa-lock"></i>
            <input
              type="password"
              placeholder="Contraseña"
              [(ngModel)]="password"
              name="password"
              required
            />
          </div>
          <button type="submit">Iniciar Sesión</button>
        </form>
        <div class="bottomlinks">
          <a href="./login/forgot-password">Olvidé mi contraseña</a>
          <a href="./register">Registrarse</a>
        </div>
      </div>
    </div>
  }
} @else {
  <app-loading></app-loading>
}
