<div class="loginparent">
  <div class="loginbox">
    <div class="brandname"><h1>Login</h1></div>
    <div class="login">
      @if (valid) {
        <p class="hidden">{{this.error}}</p>
      } @else {
        <p class="error">{{this.error}}</p>
      }
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <input mat-field type="email" placeholder="Email" formControlName="email">
        <input matInput type="password" placeholder="Password" formControlName="password">
        <div class="button">
          <button mat-flat-button type="submit">Siguiente</button>
        </div>
      </form>
    </div>
  </div>
</div>
