<div class="password-parent">
    <div class="password-container">
      <h2>Restablecer Contraseña</h2>
      <form (submit)="restart()">
        <div class="input-group">
          <i class="fas fa-old-password"></i>
          <input type="text" placeholder="Contraseña actual" required />
        </div>
        <div class="input-group">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="Nueva contraseña" required />
        </div>
        <div class="input-group">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Confirmar contraseña" required />
          </div>
        <button onclick="window.location.href='./login';">Restablecer</button>
      </form>
    </div>
  </div>
  