@media screen and (max-width: 768px) {
  header.compact {
    display: none;
  }
  header.compact h1 {
    display: block;
  }
}

header {
  background-color: #2f2f2f;
  color: white;
  text-align: center;
  padding: 5px 10px;
  top: 0;
  width: 100%;
  z-index: 100;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

header.compact {
  transform: scale(0.85);
  width: 320px;
  border-radius: 5px;
  margin-top: 20px;
}

header.compact nav {
  flex-direction: row;
}
header h1 {
  margin: 0;
  font-size: 24px;
  cursor: pointer;
  padding-left: 10px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  color: white;
  padding: 7px 10px;
  text-decoration: none;
  margin: 5px;
  transition: all 0.5s ease;
  border-radius: 5px;

}

nav a:hover {
  color: #ff781f;
  text-decoration: solid;
}

p {
  text-align: justify;
}

main {
  padding-top: 80px;
}
