<title>Recuperar Contraseña</title>
@if (!this.loading) {
  @if (this.info) {
    <div class="parent">
      <div class="info child">
        <p>{{ this.info }}</p>
      </div>
    </div>
  } @else {
    <div class="parent">
      <div class="child">
        <h2>Olvide mi contraseña</h2>
        @if (this.error) {
          <div class="error">
            <p>{{ this.error }}</p>
          </div>
        }
        <form (submit)="forgotpassword()">
          <div class="input-group">
            <i class="fas fa-user"></i>
            <input
              type="text"
              placeholder="Correo Electrónico"
              [(ngModel)]="email"
              name="email"
              required
            />
          </div>
          <button type="submit">Enviar</button>
        </form>
        <div class="bottomlinks">
          <a href="./login">Volver</a>
        </div>
      </div>
    </div>
  }
} @else {
  <app-loading></app-loading>
}
