<app-header></app-header>
<title>HIRE A PRO</title>
<body style="height: 110vh;">
  <div class="container">
    <div class="box" #box>
      <div class="left-title">HIRE A</div>
      <div class="right-scroll" #rightScroll>
        <div class="professions" #professions>
          <div>Hairdresser</div>
          <div>Mechanic</div>
          <div>Painter</div>
          <div>Writer</div>
          <div>Barber</div>
          <div>PRO</div>
        </div>
      </div>
    </div>
  </div>
</body>
